@model Proje.ViewModels.DonemYilViewModel
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dönem Ekle</h2>
@using (Html.BeginForm("Ekle", "Donem", FormMethod.Post))
{
    <div class="form-group">
        <label>Dönem Adı:</label>
        @Html.TextBoxFor(m => m.Donem_Adi, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.Donem_Adi, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <span style="color:red;">@ViewBag.Mesaj</span>
}

