
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hata</h2>
<div>Bu sınav daha önceden okutulmuş. Eğer ilgili excel dosyası yoksa, Derslerim ekranından ilgili sonucu silip, tekrardan okutunuz.</div>

