<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/Home">Okul Proje</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Kullanici">Öğretim Elemanı</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Fakulte">Fakülte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Bolum">Bölüm</a>
            </li>
        </ul>
    </div>
</nav>